<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Empresa</title>
    <link rel="stylesheet" href="/Css/empresa/Registrar_empresa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="/Imagenes/wknlogo2.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="/Css/general/bootstrap.min.css">
    <link rel="stylesheet" href="/Css/general/Grid-and-List-view-V10-style.css">
    <link rel="stylesheet" href="/Css/general/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="/Css/general/Nunito.css">
    <link rel="stylesheet" href="/Css/general/styles.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>

    <div class="container-logo">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" th:href="@{/}">
            <img class="logo" id="logo" src="../Imagenes/wknblack.png">
        </a>
    </div>
    <div class="contenedor">
        <div class="container-register">
            <div class="card">
                <div class="head-card">
                    <h1 data-trad="crearCuenta">Crea una cuenta</h1>
                    <div class="container-back">
                        <a th:href="@{/pagina/inicio}" class="back_a">
                            <i class="fas fa-arrow-left back"></i>
                        </a>
                    </div>
                </div>
                <p data-trad="subtitulo">Registra tu empresa y empieza a crecer con nosotros.</p>
                <div class="formulario">
                    <form id="registerForm" th:action="@{/Registrar/Empresa}" method="post" class="user">
                        <div class="row">
                            <div class="contenedor-input">
                                <div class="col-sm-6 mb-3">
                                    <input class="form-control form-control-user" type="text" id="nombreEmp"
                                        placeholder="" name="nombreEmp" required>
                                    <label for="nombreEmp" class="label" data-trad="nombreCompania">Nombre de la compañia</label>
                                </div>
                            </div>
                            <div class="contenedor-input">
                                <div class="col-sm-6 mb-3">
                                    <input class="form-control form-control-user" type="text" placeholder=""
                                        id="razon_social" name="razon_social" required>
                                    <label for="razon_social" class="label" data-trad="razonSocial">Razón social</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="email" aria-describedby="emailHelp"
                                placeholder="" id="email" name="email" required>
                            <label for="email" class="label" data-trad="correoElectronico">Correo electronico</label>
                            <div class="validation-message" id="emailValidation" style="display: none;"></div>
                        </div>
                        <div class="row">
                            <div class="contenedor-input">
                                <div class="col-sm-6 mb-3">
                                    <div class="password-input">
                                        <input class="form-control form-control-user" type="password" placeholder=""
                                            id="password" name="contraseña" minlength="6" maxlength="45" required>
                                        <label for="password" class="label" data-trad="contrasena">Contraseña</label>
                                        <i class="fas fa-eye toggle-password"
                                            onclick="togglePasswordVisibility('password')"></i>
                                    </div>
                                    <div class="password-strength-container">
                                        <div class="password-strength-bar" id="passwordStrengthBar"></div>
                                        <div class="password-strength-text" id="passwordStrengthText"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor-input">
                                <div class="col-sm-6 mb-3">
                                    <div class="password-input">
                                        <input class="form-control form-control-user" type="password" placeholder=""
                                            id="confirm-password" name="confirm-password" minlength="6" maxlength="45"
                                            required>
                                        <label for="confirm-password" class="label" data-trad="repetirContrasena">Repetir Contraseña</label>
                                        <i class="fas fa-eye toggle-password"
                                            onclick="togglePasswordVisibility('confirm-password')"></i>
                                    </div>
                                    <div class="password-match" id="passwordMatch">
                                        <span id="passwordMatchIcon"></span>
                                        <span id="passwordMatchText"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="contenedor-input">
                                <div class="col-sm-6 mb-3">
                                    <input class="form-control form-control-user" type="text" placeholder="" id="nit"
                                        name="nit" minlength="7" maxlength="9" required>
                                    <label for="nit" class="label" data-trad="nit">Nit</label>
                                </div>
                            </div>
                            <div class="contenedor-input">
                                <div class="col-sm-6 mb-3">
                                    <input class="form-control form-control-user" type="text" placeholder=""
                                        id="direccion" name="direccion" required>
                                    <label for="direccion" class="label" data-trad="direccion">Dirección</label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary d-block btn-user w-100" type="submit" id="btn-register" data-trad="registrar">
                            Register
                        </button>
                    </form>
                </div>
            </div>
            <div class="login">
                <p data-trad="yaCuentaEmpresa">Ya tienes una cuenta de empresa?</p> <a th:href="@{/login/Empresa}" data-trad="iniciaSesion">Inicia sesión!</a>
            </div>
        </div>
        <div class="curva">
            <div class="container-img"></div>
        </div>
    </div>

</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/General/Grid-and-List-view-V10-script.js"></script>
    <script src="/js/General/script.min.js"></script>
    <script src="/js/General/theme.js"></script>
    <script src="/js/idioma.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/empresa/Registrar_empresa.js"></script>
</body>

</html>